.chat_pane__user_item__avatar img {
    border-radius: 5px;
    border-width: 1px !important;
    padding: .0px;
    border-radius: 50px;
}
.username__wrapper {
    padding: 0em 0.5em;
    border-radius: 0.3rem;
    font-size: 0.65rem;
    display: inline-block;
    direction: ltr;
    max-width: 88% !important;
}
.chat__body__wall_pane__form__input {
    width: calc(100% - 5rem);
    margin-right: 0.2em;
    vertical-align: middle;
    height: 1.1rem;
    text-align: left;
    border-radius: 14px;
}

}
.chat__body__message-input__input {
    direction: rtl;
    width: calc(100% - 7.5rem);
    margin: 0.06rem 0.2rem 0 0.1rem;
    vertical-align: middle;
    padding: 0.1em 0.3em;
    vertical-align: bottom;
    border-radius: 14px;
    border: 1px solid #ccc;
    height: 24px;
    text-align: left;
font-weight: 900;
}
.btn-primary, .label-primary,a.border-color.login-btn-holder__btn.fa.fa-music.btn.btn-default, a.border-color.login-btn-holder__btn.fa.fa-star-half-o.btn.btn-primary,a.border-color.login-btn-holder__btn.fa.fa-commenting.btn.btn-primary, a.border-color.login-btn-holder__btn.fa.fa-user.btn.btn-default {
   background-image: -webkit-linear-gradient(38deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 70%,transparent 75%,transparent)!important;
}
